body{
    margin: 0px;
}

.flex-container{
    height: 100vh;
    
    display: flex;
    flex-direction: column;    
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.header-logo{
    font-weight: bold;
    font-size: larger;
}

.header-links{
    display: flex;
    gap: 15px;
}
.header-links ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.top{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 12vh 0 0 0;
    gap: 2vw;
}

.top-message{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.top-message .main-title{
    font-weight: bolder;
    font-size: 48px;
}

.top-message .main-desc{
    color: #E5E7EB;
}

.top-message-image, .top-message{
    height: 32vh;
    width: 32vw;
}

.signup{
    height: 5vh;
    width: 8vw;
    border-radius: 9px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: #3882f6;
}

.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 25px;
}

