body{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    flex-direction: column;    
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    gap:14vmax;
}

.header-logo{
    font-weight: bold;
    font-size: larger;
}

.header-links{
    display: flex;
    gap: 15px;
}
.header-links ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.top{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 12vmin 0 15vmin 0;
    gap: 2vmax;
}

.top-message{
    display: flex;
    flex-direction: column;
    gap: 0.5vmin;
}

.top-message .main-title{
    font-weight: bolder;
    font-size: 48px;
}

.top-message .main-desc{
    color: #E5E7EB;
}

.top-message-image, .top-message{
    height: 32vmin;
    width: 32vmax;
}

.signup{
    height: 5vmin;
    width: 8vmax;
    border-radius: 9px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: #3882f6;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12vmin 0 15vmin 0;
    gap: 12vmin;
}

.middle-title{
    color:#1F2937;
    font-size: 36px;
    font-weight: bold;
}

.middle-images{
    display: flex;
    gap: 2vmax;
    color: gray ;
}

.middle-images img{
    height: 20vmin;
    width: 15vmax;
    border-radius: 20px;
    padding: 0px;
    border: 4px solid #3882f6;
    background-color: #3882f6;
    
}

.image1, .image2, .image3, .image4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
}

.middle2{
    padding: 12vmin 0 15vmin 0;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.review-text{
    color:gray;
    width: 40vmax;
    font-style: italic;
    font-size: larger;
}

.review-author{
    column-rule: #1F2937;
    font-size: medium;
    font-weight: bold;
align-self: flex-end;
}

.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 25px;
}

